name: Build and test Wom.Net

on:
  push:
    branches-ignore:
      - main
  workflow_call:

jobs:
  build-tradingview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET 10.0.x
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
      - uses: actions/cache@v4
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
          restore-keys: |
            ${{ runner.os }}-nuget-
      - name: Install dependencies
        run: dotnet restore -r linux-x64
      - name: Build
        run: dotnet build -v=q --configuration Release --no-restore